.navbar {
  width: 100%;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white);
  justify-content: space-between;
}

#logo {
  width: 18rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: normal;
}

.navmenu {
  list-style: none;
}

.navmenu a {
  color:#121212;
  margin-left: 40px;
  text-decoration: none;
}
